.carousel
{
    height: 80vh;
}

.carousel-item
{
    border-radius: 1rem;
}

.img-carousel
{
    border-radius: 1rem;
}

/* Aumentar el tamaño del icono de la flecha */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4rem;  /* Valor por defecto es 2rem */
    height: 4rem;
    background-size: 70%;
}
